* ,
* :before,
* ::after{
    margin: 0; 
    padding: 0;
    /* 2 cái này xoá mấy cái khoảng cách mặc định mà mình cũng éo biết từ đâu ra */
    /* box-sizing: border-box; */
}
html{
      scroll-behavior: smooth;/* lan chuot muot hon  */
}
body{
    font-family: "roboto","sans-serif";
}
/* réponsive cho img  */
img{
    max-width: 100%;
    width: 100%;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
/* cho taat ca cac nut  */
button{
    text-align: center;
    color: #fff;
    background-color: var(--gray);
    padding: .8rem 2.5rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: var(--smooth);
}
button:hover{
    background-color: var(--gray-l);
    transition: var(--smooth);
}
:root{
    --green : #54B192;
    --gray : #3F3D56;
    --gray-l: #A4CEC0;
    --smooth: all .3s ease-in;
}
/* ======header======= */
header{
    /* hình ảnh của menu trên mobi sẽ nằmd trên banner và trên tất cả che 2/3 màn hình mobi */
    position: absolute; 
    width: 100%;
}
.navbar
{
    /* bỏ tất cả elemnet con trên cùng 1 hàng  */
    display: flex;
    /* trên dưới 20px  */
    padding: 20px 0; 
    justify-content: space-between;
    /* chính giữa chiều dọc */
    align-items: center;
    
}
.navbar__logo img {
    width: 57px;
    height: 57px;
    object-fit: cover;
    /* cover ảnh bên trong kích thước đã định  */
}
.navbar__links{
    /* lamf cho menu trên đt nầm cố định trên 1 góc của màn hình đt */
    position: fixed;
    /* trên 0 trái 0 thì menu sẽ dính cố định phía bên trái màn hình   */
    top: 0;
    left: 0;
    /* menu nay chiem 60% man hinh  */
    width: 60%;
    /* va menu nay keo dai tu dau man hinh den cuoi man hinh  */
    height: 100%;
    background-color: var(--gray);
    /* để làm gì ? theo tôi là để nó hiển thị cuối cùng nghĩa là ko bị ghi đè  */
    z-index: 5;
    /* hiệu ứng mượt nào  */
    transition: var(--smooth);
    /* bình thường ko nhấn hiện menu trên đt thì menu sẽ đc nằm bên trái màn hình và ẩn đi kích hoạt
    thì sẽ được đẩy từ trái vào màn hình  */
     transform: translateX(-100%);
     /* độ mờ   */
    opacity: 0; 
}
 /* css dùng để open menu khi click  */
 .navbar__links.navbar__open
 {
    transform:translateX(0);
    opacity: 1;
    transition: var(--smooth);
 }

.navbar__link{
    list-style: none;
    margin: 25px;
}
.navbar__link a {
    text-decoration: none;
    color: #fff;
    /* dày mỏng của chữ  */
    font-weight: 150;
    transition: var(--smooth);
}
.navbar__link a:hover{
    color: var(--green);
    transition: var(--smooth);
}
.navbar__button
{
    font-size: 1rem ;
    background-color: var(--gray-l);
    margin-left: 35px;

}
/* logo mở var trên đt :D  */
.navbar__icons{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
    }
.navbar__icon{
    width: 45px;
    height: 6px;
    background-color: var(--gray);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
    }
/* man hinh lon cho menu header */
@media screen and (min-width: 62em){
    .navbar__links
    {
        position: initial;
        transform: translateX(0);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        opacity: 1;
        background-color: transparent;
    }
    .navbar__link a {
        color: var(--gray);
    }
    .navbar__icons {
        display: none;
    }
    .navbar__button
    {
        color: var(--gray);
    }
}
/* = banner =  */
#banner{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}
.banner__img
{
  /* position: absolute;   */
  top: 0;
  right: 0;
  /* dướI tất cả  */
  z-index: -1;
}
.banner__heading{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
}
.banner__heading h1
{
    font-size: 2em;
    padding-top: 1em;
    margin-bottom: 0.8em;
}
.banner__heading p {
    line-height: 2em;
    margin-bottom: 1.5em;
}
.banner__button
{
    font-size: 0.5em;
}
.banner__socials{
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
/* chỉnh màu cho các icon  */
.banner__socials a{
    color: var(--gray);
    transition: var(--smooth);
}
.banner__socials a:hover{
    color: var(--gray-l);
    transition: var(--smooth);
}
@media screen and (min-width:62em) {
    .banner__heading {
        text-align: initial;
        margin: 0;
        padding-top: 0;
      }
      .banner__socials {
        justify-content: flex-start;
      }
      .banner__socials a {
        margin-right: 45px;
      }
      .banner__img {
         /* vì máy tính element hiển thị theo chiều ngang nên cần absulute để gh đè  */
        position: absolute;
        width: 50%;
      }   
}
/* === things ==== mobile first */
#things {
    position: relative;
    /* tạo khoảng cách để thêm 1 số hình ảnh là background cho web ở 2 bên  */
    overflow-x: hidden; 
    margin-top: 1em;
}
#things h2 {
    text-align: center;
    color: var(--gray);
    margin-bottom: 3em;
}
/* mấy trang trí mấy cái lá trái phải  */
.things__dec {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-60%);
    z-index: -1;
  }
  
.things__dec:nth-child(2) {
    top: initial;
    left: initial;
    bottom: 15%;
    right: 0;
    transform: translateX(60%);
    z-index: -1;
  }
  /*  */
.things__item{
    margin: 3em 0;
}
.things__item img{
    padding-bottom: 3em;
    /* width: 50%; */
}
.things__item__heading
{
    text-align: center;
    color: var(--gray);
    /* transition: var(--smooth); */
}
.things__item__heading p {
    font-weight: 300;
    line-height: 2em;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 1em;
}
@media screen and (min-width:62em) {
    .things__item
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .things__item img 
    {
        width: 50%;
        padding-bottom: 0;
    }
    .things__item__heading
    {
        width: 45%;
        /* innital  trở về định dạng mặc định ko còn căn giữa ngả về bên trái  */
        text-align: initial;
    }
    .things__item__heading p 
    {
        max-width: 500px;
        margin: 0;
    }
    .things__item:nth-child(odd) img/* hàng lẻ odd  */
     {
        order: 2; /*vị trí hàng thứ 2*/
        width: 45%;
        /* padding-bottom: 0; */
     }
     .things__item__heading:nth-child(odd)
     {
        order: 1;
        width: 45%;
        text-align: initial;
     }    
}
/* == works ===  */
#works
{
    position: relative;
    padding-top: 2em;
    overflow-x: hidden;
}
#works h2{
    text-align: center;
    color: var(--gray);
}
.works__dec
{
    position: absolute;
    top: 0;
    left: 0;
    /* cái hình bị che 60 % ngoài khung hình bên trái:v */
    transform: translateX(-60%);
    z-index: -1;
}
.works__dec:nth-child(2)
{
    position: absolute;
    top: initial;
    left: initial;
    right: 0;
    bottom: 15%;
    /* cái hình bị che 60 % ngoài khung hình bên trái:v */
    transform: translateX(60%);
    z-index: -1;
}
.works__img_s{
    margin: 2em 0;
}
/* di chuyển  nút  */
.works__btn{
    text-align: center;
    margin-top: 3em;
}
.works__btn button {
    font-size: 1em;
}
@media screen and (min-width: 62em){
    #works h2 {
        margin: 3em;
    }
    #works
    {
        padding: auto;
    }
    .works__img
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .works__img_s
    {
        margin: 1em 1em;
        width: 35%;
    }
    .works__img_s:nth-child(odd)
    {
        margin-top: 1em;
    }
}
/* === footer ===  */
#footer
{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}
.footer__img
{
    /* trên đt dùng ảnh có absolute thì text chồng lên ảnh  */
    /* position: absolute;  */ 
    top: 0;
    right: 0;
    transform: translateX(20%);
    z-index: -1;
    width: 90%;
}
.footer__heading
{
    text-align: center;
    color: var(--gray);
    margin: 0 auto;
    max-width: 300px;
    line-height: 2em;
}
.footer__contact{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}
.footer__contact a 
{
    text-decoration: none;
    color: var(--gray);
}
@media screen and (min-width:62em) {
    .footer__img
    {
        position: absolute;
        top: -30%;
        right: 0;
        width: 65%;
        transform: translateX(30%);
    }
    .footer__contact
    { 
        display: flex;
        justify-content: space-between;
        line-height: 4em;
    }
    .flooter__contact a p {
        color: var(--gray);
    }
    /* bỏ gạch chân trên thẻ a  */
    .flooter__contact a {
        text-decoration: none;
        color: var(--gray);
    }
    .footer__heading{
        max-width: 300px;
        text-align: initial;
        margin: 0 0 0 15em;
        color: var(--gray);
        
    }
    .footer__heading h2
    {
        font-size: 2em;
        padding-top: 3em;
        margin-bottom: 0.8em;
    }
    .footer__backtotop
    {
        position: fixed;
        right: 0;
        bottom: 0;
        font-size: 30px;
        background-color: var(--gray);
        transition: var(--smooth);
    }
}   